Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
.DS_Store
.klive
.dropbox.cache

*.tmp
*.bak
*.swp
*.lnk

.svn
.idea

node_modules/
bower_components/
npm-debug.log

*.zip
*.gz

*.php
dist/

!/demo/v0/bower_components/cmui/deps/lib.js
!/demo/v0/bower_components/cmui/dist/cmui.min.css
!/demo/v0/bower_components/cmui/dist/cmui.min.js

!/demo/v1/**/*.php
