
////////////////////  demo  ////////////////////
@import '../../node_modules/cmui-v2/src/css/theme/baixing/index'

/* --------------------------------------------- */
/** common **/

//code
$code-color-bg = #eee
$code-color-border = #ddd
code
	padding 1px 3px
	font-family Consolas, Menlo, monospace
	background $code-color-bg
	border 1px solid $code-color-border
	border-radius 2px
pre code
	display block
	padding 0
	background-color transparent
	border none
pre
	padding 5px 10px
	background $code-color-bg
	border 1px solid $code-color-border
	border-left-width 4px
	border-radius 2px
	overflow-x auto
	-webkit-overflow-scrolling touch

dl.code-result
	clearfix()
	&:not(:last-child)
		margin-bottom 1em
	dt
		margin-bottom 5px
	dd
		//border 1px dashed green
		& + dd
			margin-top 0.25em

dl.code-result
div.result
	+ div.intro
		margin-top 2em

div.demo-stage
	border 1px dashed green
	background-color $cm-color-stage

/* --------------------------------------------- */
/** layout **/
-page-wrapper()
	margin 0 auto
	max-width 640px
-section()
	cmCard()
	box-sizing border-box
	padding 10px $cm-content-padding 25px

body
	line-height $cm-line-height-ui

body > .cmSubview
	-page-wrapper()
	> header
		padding 10px $cm-content-padding
		text-align center
		color #eee
		$headerBg = #333
		background-color $headerBg
		background-image linear-gradient(to bottom, lighten($headerBg, 15%), darken($headerBg, 15%))
		h1
			font-size 1.5em
	> footer
		padding 15px
		text-align center

body > .cmSubview > section
	-section()

	> h2
		margin-left (- $cm-content-padding)
		margin-bottom 1em
		padding-left 10px
		padding-top 0.15em
		font-size 1.5em
		line-height $cm-line-height-min
		border-left 10px solid $cm-color-highlight

	div.intro
		&
			//padding 0.75em 1em
			font-size 14px
			//border-left 3px solid $bx-color-light-gray
			//background-color $bx-color-x-light-gray
		&:not(:last-child)
			margin-bottom 1.5em
		h3
			font-size 1.25em
		pre:not(:first-child)
		ul:not(:first-child)
		p:not(:first-child)
			margin-top 0.5em
		pre:not(:last-child)
		ul:not(:last-child)
		p:not(:last-child)
			margin-bottom 0.5em
		pre + p
			margin-top 1em !important

	// l2 section
	section
		&:not(:last-child)
			margin-bottom 1.5em
		> h3
			font-size 1.25em
			margin-bottom 0.5em
	hr
		margin 1em 0 1.25em
		color #eee

	&.back
		padding 0
		a
			display inline-block
			padding 15px

/* --------------------------------------------- */
/** index **/
#index
	section
		ul.content
			padding-left 2em
			list-style outside disc
			li > a
				display inline-block
				font-size 1.25em
				padding 0.5em

	.version-info
		-section()
		padding-top 25px
		padding-bottom 25px
		p
			text-align center

/* --------------------------------------------- */
/** color **/
#color
	dl.code-result
		dd:nth-child(2)
			hide-text()
			float left
			margin-right 10px
			size 50px 30px
			border 2px solid #999
		dd:last-child
			padding-top 5px

	dl.fg dd:nth-child(2)
		background-color $cm-color-fg
	dl.bg dd:nth-child(2)
		background-color $cm-color-bg
	dl.highlight dd:nth-child(2)
		background-color $cm-color-highlight
	dl.link dd:nth-child(2)
		background-color $cm-color-link

	dl.stage dd:nth-child(2)
		background-color $cm-color-stage
	dl.stage-shadow dd:nth-child(2)
		background-color $cm-color-stage-shadow
	dl.stage-backdrop dd:nth-child(2)
		background-color $cm-color-stage-backdrop

	dl.fg-minor dd:nth-child(2)
		background-color $cm-color-fg-minor
	dl.fg-light dd:nth-child(2)
		background-color $cm-color-fg-light
	dl.splitter dd:nth-child(2)
		background-color $cm-color-splitter
	dl.splitter-top dd:nth-child(2)
		background-color $cm-color-splitter-top

/* --------------------------------------------- */
/** text **/
#text
	.bx-headline dd
		bx-headline()
	.bx-headline-minor dd
		bx-headline-minor()
	.bx-text dd
		bx-text()
	.bx-text-minor dd
		bx-text-minor()

/* --------------------------------------------- */
/** icon **/
#icon
	dl:not(:last-child)
		margin-bottom 1em
	dt
		display inline-block
		margin-bottom 0.5em
		border 2px solid #999
		i.cmIcon.cmX50.loading-black-bg
			background-color black

/* --------------------------------------------- */
/** label **/


/* --------------------------------------------- */
/** btn **/
#btn
	section
		div.cmBtnLine
		div.cmBtnGroup
			margin-bottom 0.5em

/* --------------------------------------------- */
/** list **/
#list
	ul.cmList
		& + div.intro
			margin-top 2em

		&.icon-size .cmIcon
			background-color green


/* --------------------------------------------- */
/** grid list **/
#grid-list
	.cmGridList
		line-height $line-height-ui
	.cmGridListNoBorder
		border-dashed(green)


/* --------------------------------------------- */
/** msg box **/
#msg-box
	section.msg-box
		div.cmMsgBox + div.intro
			margin-top 2em


/* --------------------------------------------- */
/** layout **/
#layout
	section > header,
	section > main,
	section > footer
		& + div.intro
			margin-top 2em

	section.header
	section.nav-bar
		> header
			margin-left (- $cm-content-padding)
			margin-right (- $cm-content-padding)
		> header + header
			margin-top 15px
	section.header
		nav:not(:first-child)
			text-center()
			height $cm-nav-bar-height
			line-height $cm-nav-bar-height

	section.footer
		/*padding-bottom 0*/
		& > footer
			full-width-block()
			//border-dashed(green)

	section.main
		main
			padding 0 ($cm-content-padding - 1)
			border 1px dashed brown
			full-width-block()
			text-align center
			h2, h3
				margin 10px
				text-align left
			& > h2
				margin-left 0
			div.content-range
				margin 10px 0
				border 1px dashed green
			div.block
				margin 10px 0 20px
				padding 20px
				background #eee
				clearfix()
				&.full-width
					background #eee
					full-width-block()

/* --------------------------------------------- */
/** overlay **/
#mask
#loading
	dl
		clearfix()
	dl:not(:last-child)
		margin-bottom 1em
	dt
		display inline-block
		vertical-align middle
		margin-right 1em
		min-width 23%
	dd
		display inline-block
		vertical-align middle
#mask
	.cmMask
		pointer-events none
#loading
	section.loading
		section.with-text
			dt
				min-width 50%
				margin-bottom 0.5em
			dd
				display block


