
////////////////////  demo  ////////////////////
@import '../../node_modules/cmui-v2/src/css/theme/baixing/index'

/* --------------------------------------------- */
/** common **/

//code
$code-color-bg = #eee
$code-color-border = #ddd
code
	padding 1px 3px
	font-family Consolas, Menlo, monospace
	background $code-color-bg
	border 1px solid $code-color-border
	border-radius 2px
pre code
	display block
	padding 0
	background-color transparent
	border none
pre
	padding 5px 10px
	background $code-color-bg
	border 1px solid $code-color-border
	border-left-width 4px
	border-radius 2px
	overflow-x auto
	-webkit-overflow-scrolling touch

dl.code-result
	clearfix()
	&:not(:last-child)
		margin-bottom 1em
	dt
		margin-bottom 5px
	dd:not(:last-child)
		margin-bottom 1em
	dd + dd
		margin-top 0.25em

dl.code-result
div.result
div.demo-stage
	+ div.intro
		margin-top 2em

div.demo-stage
	border 1px dashed green
	background-color $cm-color-stage
	& + &
		margin-top 10px

/* --------------------------------------------- */
/** layout **/
-page-wrapper()
	margin 0 auto
	max-width 640px
-section()
	box-sizing border-box
	margin 10px 0
	padding 10px $cm-content-padding 25px
	background-color $cm-color-bg

body > .subview
	-page-wrapper()
	> header
		padding 10px $cm-content-padding
		text-align center
		color #eee
		$headerBg = #333
		background-color $headerBg
		background-image linear-gradient(to bottom, lighten($headerBg, 15%), darken($headerBg, 15%))
		h1
			font-size 1.75em
	> footer
		padding 15px
		text-align center

body > .subview > section
	-section()

	> h2
		margin-left (- $cm-content-padding)
		margin-bottom 1em
		padding-left 10px
		padding-top 0.15em
		font-size 1.5em
		line-height $cm-line-height-min
		border-left 10px solid $cm-color-primary

	h3
		font-size 1.25em

	div.intro
		&:not(:last-child)
			margin-bottom 1.5em
		pre:not(:first-child)
		ul:not(:first-child)
		p:not(:first-child)
			margin-top 0.5em
		pre:not(:last-child)
		ul:not(:last-child)
		p:not(:last-child)
			margin-bottom 0.5em
		pre + p
			margin-top 1em !important

	// l2 section
	> section
		&:not(:last-child)
			margin-bottom 1.5em
		> h3
			margin-bottom 0.5em
		> h4
			margin-bottom 0.25em
	hr
		margin 1em 0 1.25em
		color #eee

	&.back
		padding 0
		margin-bottom 0
		a
			display inline-block
			padding 15px

/* --------------------------------------------- */
/** index **/
#index
	section
		ul.content
			padding-left 1.5em
			list-style outside disc
			li
				padding-left 0.25em
				a
					display inline-block
					font-size 1.25em
					padding 0.5em
					margin-left -0.5em
				small
					display block
					margin-top -1em
					font-size $cm-font-size-s
					pointer-events none
					color $cm-color-fg-light

	.version-info
		-section()
		padding-top 25px
		padding-bottom 25px
		p
			text-align center

/* --------------------------------------------- */
/** color **/
#color
	dl.code-result
		dd:nth-child(2)
			hide-text()
			float left
			margin-right 10px
			margin-bottom 0
			size 50px 30px
			border 2px solid #999
		dd:last-child
			padding-top 7px

	dl.fg-light dd:nth-child(2)
		background-color $cm-color-fg-light
	dl.fg dd:nth-child(2)
		background-color $cm-color-fg
	dl.fg-dark dd:nth-child(2)
		background-color $cm-color-fg-dark

	dl.primary dd:nth-child(2)
		background-color $cm-color-primary
	dl.highlight dd:nth-child(2)
		background-color $cm-color-highlight
	dl.link dd:nth-child(2)
		background-color $cm-color-link
	dl.bg dd:nth-child(2)
		background-color $cm-color-bg
	dl.stage dd:nth-child(2)
		background-color $cm-color-stage

	dl.splitter dd:nth-child(2)
		background-color $cm-color-splitter

/* --------------------------------------------- */
/** text **/


/* --------------------------------------------- */
/** icon **/
#icon
	dl:not(:last-child)
		margin-bottom 1em
	dt
		display inline-block
		margin-bottom 0.5em
		border 2px solid #999
		i.cm-icon.cm-x50.loading-black-bg
			background-color black

/* --------------------------------------------- */
/** label **/


/* --------------------------------------------- */
/** btn **/
#btn
	section
		div.cm-btn-line
		div.cm-btn-group
			margin-bottom 0.5em

/* --------------------------------------------- */
/** list **/
#list
	ul.cm-list
		+ div.intro
			margin-top 2em

		&.icon-size .cm-icon
			background-color green


/* --------------------------------------------- */
/** grid list **/
#grid-list
	.cm-grid-list
		+ div.intro
			margin-top 2em


/* --------------------------------------------- */
/** msg box **/
#msg-box
	.cm-msg-box + div.intro
		margin-top 2em
	.cm-msg-box:last-child
		margin-bottom 0
	.code-result dd .cm-msg-box
		margin 0

/* --------------------------------------------- */
/** layout **/
#layout
	section > header,
	section > main,
	section > footer
		& + div.intro
			margin-top 2em

	section.header
	section.nav-bar
		> header
			margin-left (- $cm-content-padding)
			margin-right (- $cm-content-padding)
		> header + header
			margin-top 15px
	section.header
		nav:not(:first-child)
			text-center()
			height $cm-nav-bar-height
			line-height $cm-nav-bar-height

	section.footer
		/*padding-bottom 0*/
		& > footer
			full-width-block()
			//border-dashed(green)

	section.main
		main
			padding 0 ($cm-content-padding - 1)
			border 1px dashed brown
			full-width-block()
			text-align center
			h2, h3
				margin 10px
				text-align left
			& > h2
				margin-left 0
			div.content-range
				margin 10px 0
				border 1px dashed green
			div.block
				margin 10px 0 20px
				padding 20px
				background #eee
				clearfix()
				&.full-width
					background #eee
					full-width-block()
	section.section
		.demo-stage .cm-section-content p
			padding 15px
			text-align center

/* --------------------------------------------- */
/** overlay **/
#mask
#loading
	dl
		clearfix()
	dl:not(:last-child)
		margin-bottom 1em
	dt
		display inline-block
		vertical-align middle
		margin-right 1em
		min-width 23%
	dd
		display inline-block
		vertical-align middle
#mask
	.cm-mask
		pointer-events none
#loading
	section.loading
		section.with-text
			dt
				min-width 50%
				margin-bottom 0.5em
			dd
				display block


